body {
    min-width: 800px;
    max-width: 1200px;
    min-height: 500px;
    padding: 10px;
    align-items: center;
}

.button-group > button {
    margin: 10px;
}

#instructions {
    margin-bottom: 15px;
    font-size: 14px;
}

table {
    font-size: 14px;
}

.ops {
    display: flex;
    justify-content: space-around;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.del-btn {
    font-weight: bold;
}


.add-btn {
    height: 1.5rem;
    font-size: 1.25rem;
}